# Basic requirements for all
pre-commit 
black
flake8
regex

# Web scraping / data stuff
requests
beautifulsoup4
lxml
tika
# You need the latest JDK for this to work
# https://www.oracle.com/java/technologies/javase-downloads.html#javasejdk


# Data science
scikit-learn
xgboost
vaderSentiment

# DB and data
pandas

# Other 
Jupyter notebook
Seaborn

# Optional
jupyter_contrib_nbextensions